:root {
  --primary-color: #125D98;
  --secondary-color: #DDDDDD;
  --accent-color: #3C8DAD;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCard {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  height: 300px;
  background-color: white;
  width: 97%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.categories {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  height: 30px;
  width: 400px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.searchBar:focus {
  outline: 0;
}